.container, .wrapper {
  @apply flex justify-center items-center;
  @apply rounded-2xl;
  @apply bg-secondary;
  @apply w-full;
  @apply overflow-hidden;
}

.container {
  @apply p-[2px];
  @apply w-full;
  @apply aspect-square;
}

.wrapper {
  @apply flex-col;
  @apply border border-primary;
  @apply w-full h-full;
}

.helpText {
  @apply text-primary text-center;
}

.swiper {
  @apply w-full;
}

.loading-placeholder {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.blur {
  filter: blur(2px);
}

.layout {
  @apply grid grid-cols-2;
}